table{
    width:100%
}
.mat-row:nth-child(even){
    background-color:ghostwhite;
    }

.mat-row:nth-child(odd){
    background-color:gainsboro;
    }
.mat-header-cell{
    background-color:goldenrod;
    font-weight: bolder;
    font-size: medium;
}

.mat-row:hover {
    background-color: greenyellow;
  }
 .mat-header-row{
    border-collapse: collapse;
    border-radius: 5em;
 } 
